%footer.iwadown-footer
  .col-xs-12.col-sm-3.hidden-xs
    %p.apcss-footer-title 舉辦活動
  .col-xs-12.col-sm-3.hidden-xs
    %p.apcss-footer-title 參加活動
  .col-xs-12.col-sm-3.hidden-xs
    %p.apcss-footer-title 關於我們
  .col-xs-12.col-sm-3.hidden-xs
    %p.apcss-footer-title 聯絡我們
  .row
    .logo-bottom
      %p
        &copy 2016 iWadown      
      %p
        %a{:href => "#"} Back to top